In [393]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [394]:
def annotateText(text):
  # request = "http://api.dbpedia-spotlight.org/en/annotate?confidence=0.5&text="+text
  request = "http://141.57.9.112:2222/rest/annotate?confidence=0.5&text="+text
  response = requests.get(request)
  page_content = BeautifulSoup(response.content,"html.parser")
  return page_content.find_all('a')

In [395]:
def findResource(resource):
  query = "select ?label where {<" + resource + "> rdfs:label ?label. filter(lang(?label) = 'es')}"
  request = "http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query="+query+"&format=application%2Fsparql-results%2Bjson&CXML_redir_for_subjs=121&CXML_redir_for_hrefs=&timeout=30000&debug=on&run=+Run+Query+"
  response = requests.get(request).json()
  try:
    out = response["results"]["bindings"][0]["label"]["value"]
  except IndexError:
    out = None
  return out

In [396]:
def getResourceAndEntity(resourceList):
  dict = {}
  for item in resourceList:
    if item==None:
      continue
    dict[item.text] = item.get('href')
  return dict

In [397]:
def getReplacedText(input_text,output_text,dict):

  input_text = input_text.lower()
  output_text = output_text.lower()

  if bool(dict)==False:
    return input_text,output_text

  count = 0

  for entity,resource in dict.items():
    input_text = input_text.replace(entity.lower(),"entity")
    
    if entity in output_text:
      output_text = output_text.replace(entity.lower(),"entidad")
    else:
      entity = findResource(resource)
      if entity!=None:
        output_text = output_text.replace(entity.lower(),"entidad")
    count+=1
  return input_text,output_text

In [398]:
# df=pd.read_csv('/content/drive/My Drive/data/entity_sets/en-es-train.csv')
# df=pd.read_csv('/content/drive/My Drive/data/entity_sets/en-es-test.csv')

# df=df.dropna(subset=['input_lang','output_lang'])

df_1=pd.read_csv('/content/drive/My Drive/data/entity_sets/en-es-train.csv')
df_2=pd.read_csv('/content/drive/My Drive/data/entity_sets/en-es-test.csv')
frames = [df_1,df_2]
df = pd.concat(frames)

In [399]:
df = df.dropna(subset=['input_lang','output_lang'])
df = df.drop_duplicates(subset=['input_lang','output_lang'], keep='first', inplace=False)

In [400]:
df_new = df[df.correctly_annotated==1]
df_new = df_new.reset_index(drop=True)

In [401]:
df.shape

(606, 3)

In [402]:
df_new.head(20)

                                           input_lang  ... correctly_annotated
0         Which river does the Brooklyn Bridge cross?  ...                 1.0
1   Give me the websites of companies with more th...  ...                 1.0
2         What is the official website of Tom Cruise?  ...                 1.0
3                 Give me all movies with Tom Cruise.  ...                 1.0
4                              Who created Wikipedia?  ...                 1.0
5               How many films did Hal Roach produce?  ...                 1.0
6               In which country does the Nile start?  ...                 1.0
7                       How tall is Claudia Schiffer?  ...                 1.0
8   Which television shows were created by Walt Di...  ...                 1.0
9   Give me all cities in New Jersey with more tha...  ...                 1.0
10                 Which actors were born in Germany?  ...                 1.0
11             How often was Michael Jordan divorced?  ...                 1.0
12                  Who designed the Brooklyn Bridge?  ...                 1.0
13  Which countries have more than two official la...  ...                 1.0
14                       When did Latvia join the EU?  ...                 1.0
15                                 Who created Goofy?  ...                 1.0
16                 Give me all soccer clubs in Spain.  ...                 1.0
17                 Who is the mayor of New York City?  ...                 1.0
18          Which organizations were founded in 1950?  ...                 1.0
19                Which presidents were born in 1945?  ...                 1.0

[20 rows x 3 columns]

In [403]:
input_list = []
output_list = []
for _, row in df_new.iterrows():
  list = annotateText(row['input_lang'])
  dict = getResourceAndEntity(list)
  input_text,output_text = getReplacedText(row['input_lang'],row['output_lang'],dict)
  input_list.append(input_text)
  output_list.append(output_text)

In [404]:
new_df = pd.DataFrame({"input_lang":input_list,"output_lang":output_list})

In [405]:
new_df.head(20)

                                           input_lang                                        output_lang
0                  which river does the entity cross?             ¿por qué río cruza la brooklyn bridge?
1   give me the websites of companies with more th...  dame todas las páginas de web de empresas con ...
2             what is the official website of entity?      ¿cuál el la página de web oficial de entidad?
3                     give me all movies with entity.               dame todas las películas con entidad
4                                 who created entity?                               ¿quién creó entidad?
5                  how many films did entity produce?           ¿cuántas películas ha producido entidad?
6             in which country does the entity start?                      ¿en qué país nace el entidad?
7                                 how tall is entity?                          ¿cómo de alta es entidad?
8      which television shows were created by entity?              ¿qué series televisivas ideó entidad?
9   give me all cities in entity with more than 10...  dame todas las cuidades en new jersey que teng...
10                  which actors were born in entity?                  ¿qué actores nacieron en entidad?
11                     how often was entity divorced?           ¿cuántas veces se ha divorciado entidad?
12                           who designed the entity?                  ¿quién diseñó la brooklyn bridge?
13  which countries have more than two official la...   ¿qué países tienes más de dos lenguas oficiales?
14                   when did entity join the entity?              ¿cuándo ingresó entidad a la entidad?
15                                who created entity?                   ¿quién es el creador de entidad?
16                give me all entity clubs in entity.         dame todos los club de entidad de entidad.
17                       who is the entity of entity?      ¿quién es el entidad de la cuidad de entidad?
18          which organizations were founded in 1950?             ¿qué empresas fueron fundadas en 1950?
19                which presidents were born in 1945?                 ¿qué presidentes nacieron en 1945?

In [406]:
# new_df.to_csv('/content/drive/My Drive/data/template/en-es-test-template.csv', index=False)
# new_df.to_csv('/content/drive/My Drive/data/template/en-es-train-template.csv', index=False)
new_df.to_csv('/content/drive/My Drive/data/template/en-es-template.csv', index=False)